@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

header {
    width: 100%;
    height: 110px;
    padding-top: 40px;
    background-color: #d2fb72;
    color: #046525;

    display: flex;
    justify-content: space-around;

    font-family: 'IBM Plex Sans Condensed', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.259);
}

header img {
    height: 70px;
    width: 70px;
}



#logo {
    font-size: 20px;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    padding-bottom: 20px;
}

#menu {    
    gap: 30px;
    list-style: none;
    padding-top: 15px;
}

#menu a {
    color: #046525;
    text-decoration: none;
    font-weight: 400;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 20px;
}

#menu a:after{
    content: '';
    transition-duration: 1s;
    width: 0px;
    height: 4px;
    background:  currentColor; 
    display: block;
    transition: 0.8s;
}

#menu a:hover::after {
    width: 75%;
}

#home {
    width: 100%;
    height: 650px;
    padding: 20px;


    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #046525;
    background-image: url("images/Ayroza-Blog-Fisio.png");
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#text-home {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 30px;
    width: 50%;
}

#text-home h1 {
    font-size: 40px;
    text-shadow: 1px 6px 22px #04652465;
}

#text-home p {
    font-size: 20px;
}

.cursor {
    cursor: pointer;
}


#treatments {
    width: 100%;
    min-height: 500px;
    padding: 50px;
    display: flex;
    gap: 20px;
    background-color: #f4f4f4;
    list-style: none;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.397);
}

#terapias {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60%;
    font-size: 24px;
}

#terapias h2 {
    font-size: 30px;
    color: #afe239;
    font-weight: bolder;
}

#terapias summary::after {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(100, 100, 100, 0.486);
    display: block;
}

.hidden {
    visibility: hidden;
}

#examples {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#examples img {
    width: 230px;
    height: 225px;
    margin: 10px;
    box-shadow: 2px 11px 18px rgba(0, 0, 0, 0.363);
    border-radius: 10px 0px;
}

details summary{
    cursor: pointer;
    transition: 0.8s;
}

details summary:hover{
    color: #75a503;
    transition: 0.5s;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

details[open] summary {
    color: #75a503;
}

@keyframes sweep{
    from {
        opacity: 0; margin-top: -10px;
    }
    to {
        opacity: 1; margin-top: 0;
    }
}

.text-treatment {
    min-height: 0px;
    transition: 0.8s;
}

details[open] .text-treatment{
    min-height: 96px;
    transition: 0.8s;
}

